<h1>Edit your details</h1>

<% if @user.errors.any? %>
 <ol>
   <% @user.errors.full_messages.each do |msg| %>
   <li>
     <%= msg %>
   </li>
   <% end %>
 </ol>
 <% end %>

<%= form_for @user do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :first_name %> 
    <%=  f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %> 
    <%=  f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :phone %> 
    <%=  f.text_field :phone %>
  </p>

  <p>
    <%= f.label :password %> 
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation  %> 
    <%= f.password_field :password_confirmation %>
  </p>
 
 <%=  f.submit  %>
  
<% end %>

  <%= button_to "Delete Your Account", @current_user, :method => 'delete', :data => { :confirm => 'Are you sure you want to delete your account?' } %>

