<div class="center">

<h3>Move <%= @user.first_name %> Out of House</h3>
<br>

<%= form_for @user do |f| %>
	<%= f.hidden_field :room_id, :value => nil %>
	<%= f.submit 'Yes, Move out', class: 'btn btn-primary' %>
	<% end %>
	<br>
	<%= link_to 'No, go back', home_path(@user.home) %>
	</div>
