<h2>Edit Move Dates for <%= @record.first_name %> </h2>

<%= form_for @record do |f| %>
  <form>

    <div class="form-group">
    <%= f.label :first_name, 'Name' %>
    <%= f.text_field :first_name, :class => "form-control", :autofocus=>true %>
  </div>
  
  <div class="form-group  ">
    <%= f.label :move_in, 'Move in date' %>
    <%= f.date_field :move_in, :class => "form-control", :autofocus=>true %>
  </div>

  <div class="form-group  ">
    <%= f.label :move_out, 'Move out date' %>
    <%= f.date_field :move_out, :class => "form-control" %>
  </div>

  <%=  f.submit 'Save', class: "btn btn-default btn-xs" %>

<% end %>
