<h3>Housemate History</h3>

<% @records.each do |record| %>

<h2> <%= record.first_name %> </h2>

<p>Move in date: <%= record.move_in.strftime "%A, %e %B %Y" if record.move_in %></p>
<p>Move out date: <%= record.move_out.strftime "%A, %e %B %Y" if record.move_out %></p>
<%= link_to 'Edit', edit_record_path(record) %>

<%= link_to "Delete", record_path(record), :method => 'delete'%>
<% end %>

<br>
<br>

<div class="controls">
<%= link_to 'Create New Housemate Record', new_record_path %>
<%= link_to 'Back to Dash', '/' %>
	

</div>

