<div class="center">
<h2>Edit Bill</h2>
</div>


<%= form_for @bill do |f| %>
<form>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :autofocus=>true %>
  </div>

  <div class="form-group">
    <%= f.label :bill_type %>
    <%=  f.text_field :bill_type, :class => "form-control"%>
  </div>
 <div class="form-group">
    <%= f.label :amount %> 
    <%=  f.number_field :amount, :class => "form-control"%>
  </div>

  <p>
    <%= f.label :bill_start %> 
    <%= f.date_field :bill_start, :class => "form-control" %>
  </p>

  <p>
    <%= f.label :bill_end  %> 
    <%= f.date_field :bill_end, :class => "form-control" %>
  </p>

  <div class="form-group">
    <%= f.label :user_id, "Bill paid by:" %> 

      <% @bill.home.users.each do |user| %>

      <% if user != @current_user %>
    
    <%= label :user_id, user.first_name %>
    <%= f.radio_button :user_id, user.id %>
      <% end %>
    
    <% end %>
      <div class="form-group">
    <%= f.label :user_id, "I pay this bill"  %> 
    <%= f.radio_button :user_id, @current_user.id, :type =>"radio"  %>
  </div>

  <div class="center">

  <%=  f.submit :class =>"btn btn-default" %>
  </div>
</form>
<% end %>

