<% if @bill.errors.any? %>
 <ul>
   <% @bill.errors.full_messages.each do |msg| %>
   <li>
     <%= msg %>
   </li>
   <% end %>
 </ul>
 <% end %>

<h2>Add New Bill</h2>

<div class="row">

<div class="col-md-6 col-md-offset-3 ">
<%= form_for @bill, :html => {multipart: true} do |f| %>


  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder=> "e.g. Gas Bill October 2015", :class => "form-control", :autofocus=>true %>
  </div>

   <div class="form-group">
      <%= f.label :image, "Upload Bill" %>
      <%= f.cl_image_upload :file, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bill_type %> 
    <%=  f.text_field :bill_type, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :amount %> 
    <%=  f.number_field :amount, :class => "form-control"%>
  </div>

   <div class="form-group">
    <%= f.label :bill_start %> 
    <%= f.date_field :bill_start, :class => "form-control" %>
   </div>

  <div class="form-group">
    <%= f.label :bill_end  %> 
    <%= f.date_field :bill_end, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id, "Bill paid by:" %> 

    <% @users.each do |user| %>

      <% if user != @current_user %>
        <%= label :user_id, user.first_name %>
        <%= f.radio_button :user_id, user.id %>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :user_id, "I pay this bill"  %> 
    <%= f.radio_button :user_id, @current_user.id  %>
  </div>
   
  <%= f.hidden_field :home_id,:value => @current_user.home.id %>

  <%= f.submit :class =>"btn btn-default" %>

<% end %>

</div> 
</div>
  
