<div class="center jumbotron">
<h2>Welcome Home!</h2>

<% if @home %>
<% if @home.users.count < 2 %>
<%= render :partial => 'invite' %>
<% end %>

<div class="controls">
<%= link_to 'House Details', @home, :type => "button", :class => "btn btn-default btn-xs" %> 
<%= link_to 'Bills', bills_path, :type => "button", :class => "btn btn-default btn-xs" %> 

</div>
<br>
<p>Home: <%= @home.name %></p>
<%= link_to "Move Me Out", user_path(@current_user)%>
<br>

<br>

<% if !@current_user.paypal_me %>
<p>Looks like you haven't added your PayPal.me username.
<%= link_to "Add it now.", edit_user_path(@current_user) %>

</p>
<% end %>

<% else %>
<p>Looks like you don't have a Home yet!</p>
<%= link_to 'Connect Home', '/new' %>
<%end %>


</div>


