<div class="center jumbotron">
<h2>Welcome Home!</h2>


<% if @home %>
<% if @home.users.count < 2 %>
<%= render :partial => 'invite' %>
<% end %>

<p> <%= link_to 'House Details', @home %> </p>
<p> <%= link_to 'Bills', bills_path %> </p>
<p><%= link_to "Move Out", user_path(@current_user)%></p>

<% if !@current_user.paypal_me %>
<p>Looks like you haven't added your PayPal.me username.
<%= link_to "Add it now.", edit_user_path(@current_user) %>

</p>
<% end %>

<% else %>
<p>Looks like you don't have a Home yet!</p>
<%= link_to 'Connect Home', '/new' %>
<%end %>


</div>