<h2 class="center">Welcome Home!</h2>
	
	<% if @home %>
		
		<% if @home.users.count < 2 %>
		<div class="center jumbotron">		
				<%= render :partial => "invite" %>
		</div>
		<% end %>
			<br>
		<% if !@current_user.paypal_me %>
		<div class="center jumbotron">
				<p>Looks like you haven't added your PayPal.me username.
				<%= link_to "Add it now.", edit_user_path(@current_user) %> </p>
		</div>
		<% end %>
		</div>
	
	<div class="row">
	

		<div class="col-md-4 col-md-push-4">
		  <div class="center">
		    <%= link_to 'House Details', @home, :type => "button", :class => "btn btn-primary btn-xs" %> 
		    <%= link_to 'Bills', bills_path, :type => "button", :class => "btn btn-primary btn-xs" %> 
		  </div>
		  <div class="center">
		    <h3>Noticeboard</h3>
		  	<div class="noticeboard">
		    <% if @messages && !@messages.empty? %>
		    	<% @messages.each do |message| %>
		    	<p> <%= message.message %> <br> <small>Posted by <strong><%= message.user.first_name %></strong> <%=   distance_of_time_in_words_to_now message.created_at %> ago <%= link_to 'Delete', message_path(  message), :method => 'delete' %></small></p>	    	
		    	<% end  %>
		    <% else %>
		      <p>No messages</p>
		    <% end %>
		    </div>
		    <br>
		    <%= form_for @message do |f|%>
	    	<div class="form">
		    <%= f.text_field :message, :placeholder => "Post message to house", :class => "form-control" %>
		    <%= f.hidden_field :home_id, :value => @current_user.home.id %>
		    <%= f.hidden_field :user_id, :value => @current_user.id %>
		  	<%= f.submit "Post", :class => "form-control btn btn-default" %>
		<% end %>
		</div>
		<br>
		 <p class="text-center">My home: <%= @home.name %> 
		   <small><%= link_to "Move Out", user_path(@current_user)%></small></p>
			<br>
		   		   
		  </div>	  
		</div>

			<div class="col-md-4 col-md-pull-4 col-sm-6">
		

		<br>
		    <div class="show-calendar center">
		    <a href="/#calendar" class="btn btn-primary">Show/Hide Calendar</a>
		    </div>
		</div>
		
		<div class="col-md-4 col-sm-6">
		  <br>
			<div class="show-checklist center">
		<button class='btn btn-primary'>Show/Hide Checklists</button>
			</div>
			<br>
			<div class="checklist" id="checklist">
			
		  	<div class="noticeboard">
		    <% if @show_list && !@show_list.empty? %>
		    	<% @show_list.each do |list| %>
		    	<h4> <%= list.name %> </h4>  

		    	<% list.check_items.each do |item| %>
		    	<li><%= item.task %>
		    	<small><%= link_to 'Done', check_item_path(item), :method => 'delete' %></small></li>
		    	<% end %>
		    	<br>


		    	<%= form_for @new_check_item do |f| %>   
        		<div class="form-group">
          		<%= f.label :task, "Add task" %><br>
          		<%= f.text_field :task, :class => "form-control", :maxlength => 20 %>
        		</div>
        		<%= f.hidden_field :checklist_id, :value => list.id %>
        		<div class="actions">
          		<%= f.submit "Add", :class => "btn btn-default btn-xs" %>
        		</div>   	
		    	<% end  %>
		    	<%= link_to 'Delete', checklist_path(list), :method => 'delete' %>
				<ul>
		    	
		    	</ul>

		    	<% end %>
		    <% else %>
		      <p>No lists</p>
		    <% end %>
		    </div>
		
		   
      <h4 class="text-center">Add New Checklist</h4>
      <div class="center">
      <%= form_for(@checklist) do |f| %>
        <% if @checklist.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@checklist.errors.count, "error") %> prohibited this meeting from being saved:</h2  >
            <ul>
            <% @checklist.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>   
        <div class="form-group">
          <%= f.label :name, "Title" %><br>
          <%= f.text_field :name, :class => "form-control", :maxlength => 20 %>
        </div>
        <%= f.hidden_field :home_id, :value => @home.id %>
        <div class="actions">
          <%= f.submit "Create Checklist", :class => "btn btn-default btn-xs" %>
          </div>
		 <% end %>
	   </div>
    </div>

		</div>
		
	<% else %>
		<div class="center jumbotron">
		  <p>Looks like you don't have a Home yet!</p>
		  <%= link_to 'Connect Home', '/new' %>
		</div>
	  <%end %>
	</div>

<% if @home %>
	<div class="calendar" id="calendar">
	<br>
	<br>
      <div class="row">
        <div class="col-md-9">	
          <%= month_calendar events: @meetings do |date, meetings| %>
            <%= date.strftime("%d")  %>
            <% meetings.each do |meeting| %>
              <div>
                <%= meeting.name %>
                <p>
                <small><%= link_to 'Edit', edit_meeting_path(meeting) %>
                <%= link_to "Delete", meeting_path(meeting), :method => 'delete' %></small></p>
              </div>
            <% end %>
          <% end %>     
        </div>
    
    <div class="col-md-3"> 
      <h4 class="text-center">Add New Event</h4>
      <%= form_for(@meeting) do |f| %>
        <% if @meeting.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2  >
            <ul>
            <% @meeting.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>   
        <div class="form-group">
          <%= f.label :name, "Event Name" %><br>
          <%= f.text_field :name, :class => "form-control", :maxlength => 20 %>
        </div>
        <div class="form-group">
          <%= f.label :start_time, "Date" %><br>
          <%= f.date_field :start_time, :class => "form-control" %>
        </div>
        <%= f.hidden_field :home_id, :value => @home.id %>
        <div class="actions">
          <%= f.submit "Add to Calendar", :class => "btn btn-default btn-xs" %>
        </div>
	  <% end %>
    </div>
     </div>
      <% end %>
</div>




