<h2>Edit room</h2>

<%= form_for @room do |f| %>

  <p>
    <%= f.label :occupant, "Occupant(s)" %>
    <%= f.text_field :occupant %>
  </p> 

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :rent %>
    <%= f.number_field :rent %>
  </p>

  <%=  f.submit  %>

<% end %>
