<h1>Rooms#edit</h1>
<p>Find me in app/views/rooms/edit.html.erb</p>

<% (1..@number).each do |number| %> 

<h4>Room <%= number %></h4>

<%= form_for instance_variable_get("room#{number}") do |f| %>

  <p>
    <%= f.label :occupant %>
    <%= f.text_field :occupant %>
  </p>

  <p>
    <%= f.label :description %> 
    <%=  f.text_field :description, :placeholder => "Big Room" %>
  </p>
 
  <%=  f.submit  %>

<% end %>

<% end %>