<h1>Add Rooms</h1>

<% if !@number %>

<%= form_tag '/rooms' do %>
	  <%= label_tag :number, 'Number of Rooms' %>
	  <%= number_field_tag :number %>
	  <%= hidden_field_tag :home_id, params[:home_id] %> 
	  <%= hidden_field_tag :occupant, @current_user.first_name %>
	  <%= submit_tag 'Add rooms' %> 
	<% end %>

	<% else %>

<%= link_to 'Change Number of Rooms', new_room_path %>

<% end %>

