<h2> <%= @room.occupant %>'s Room </h2>

<p>Rent: <%= number_to_currency @room.rent %></p>
<p>Description: <%= @room.description %></p>
<p><%= @room.occupant %>'s move in date: <%= @room.user_movedin.strftime "%A, %e %B %Y" if @room.user_movedin %></p>

<div class="controls">
	<%= link_to 'Edit', edit_room_path(@room) %>
	<%= link_to 'Move out', user_path(@current_user) %>
	<%= link_to 'Back to Dash', '/' %>

</div>