<!DOCTYPE html>
<html>
<head>
  <title>Sharehome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<%= link_to 'Home', '/' %>
	<% if @current_user.present? %>
	<%= link_to "Edit profile", edit_user_path %>
	<%= "Logged in as #{ @current_user.first_name }"%>
	<%= link_to "Log out #{@current_user.first_name}", login_path, :method => 'delete'%>
	<% else %>
	<%= link_to 'Create Account', new_user_path %>
	<%= link_to 'Log in', login_path %>
	<% end %>	
</nav>

<%= yield %>

<% if flash[:message].present? %>
  <p><%= flash[:message] %></p>
<% end %>


</body>
</html>
