<!DOCTYPE html>
<html>
<head>
  <title>Sharehome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '/' %></li>
				<% if @current_user.present? %>
				<li><%= link_to "Edit profile", edit_user_path %></li>
				<li><%= link_to "Logged in as #{ @current_user.first_name }"%></li>
				<li><%= link_to "Log out #{@current_user.first_name}", login_path, :method => 'delete'%></li>
				<% else %>
				<li><%= link_to 'Create Account', new_user_path %></li>
				<li><%= link_to 'Log in', login_path %></li>
				<% end %>
			</ul>
			</nav>
		</div>
	</header>

<div class="container">

	  <%= yield %>
	  


	<% if flash[:message].present? %>
	  <p><%= flash[:message] %></p>
	<% end %>

</div>

<div class="container">

<footer class="footer">
  <small>
    <a href="/">Sharehome</a>
    by <a href="/">Alex Swan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="/">News</a></li>
    </ul>
  </nav>
</footer>
</div>
</body>
</html>
